body {
	text-align: center;
	margin: 0;
}

h1, a, h2 {
	font-family: "Raleway";
	letter-spacing: 1px;
}
h1 {
	color: white;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
a {
	color: white;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0px 20px 0px 20px;
	border-bottom: 2px solid transparent;
}
h2 {
	color: #0D2C40;
	font-weight: 600;
	font-size: 20px;
}
p { font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

header {
	background-color: #F15B31;
	padding: 30px 20px 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0px 20px 0px;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px 40px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0px 20px 0px 20px;
	background: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08cm;
	font-weight: 500;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility:hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

a:hover {
	border: 2px solid white;
	font-size: 24px;
}